<md-list class="md-dense" flex>
    <ntls-entry-view ng-click="toggleOpen()" ng-dblclick="showDir($event)" entry="rootEntry" view="view" mode="list"></ntls-entry-view>
    <div ng-if="view.isOpen">
        <md-list-item class="list-item-no-right-padding"
                      ng-repeat="entry in rootEntry.getDirectories()">
            <ntls-tree-view show-files="showFiles" root-entry="entry"></ntls-tree-view>
        </md-list-item>
    </div>
    <div ng-if="view.isOpen && showFiles">
        <md-list-item class="list-item-no-right-padding"
                      ng-repeat="entry in rootEntry.getFiles()">
            <ntls-tree-view show-files="showFiles" root-entry="entry"></ntls-tree-view>
        </md-list-item>
    </div>
</md-list>