.md-dense {
    padding-top: 0;
    padding-bottom: 0;
}

.list-item-no-right-padding {
    padding-right: 0 !important;
}
.md-sidenav-left {
    height: 100vh;
    overflow: auto;
}

.main-content {
    height: 100vh;
    overflow: hidden;
}

.overflowed {
    overflow-y: auto;
    height: 100vh;
}

.custom-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    color: rgb(63, 81, 181);
}

.icon-smaller-margin {
    margin-right: 16px !important;
}

.md-list-item-inner {
    min-height: 24px;
}

.grid-entry-item {
    text-align: center;
    width: 200px;
    padding: 8px;
    cursor: pointer;
}

.grid-entry-item:focus {
    outline: 1px solid #BBDEFB;
}

.grid-entry-item > * {
    display: block;
    text-align: center;
}

.actions {
    opacity: 0;
}

.actions * {
    cursor: pointer;
}

.grid-entry-item > p {
    margin-top: 0;
    margin-bottom: 0;
}

.grid-entry-item:hover .actions {
    opacity: 1;
}

.entry-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 8px;
}

