<!DOCTYPE html>
<html>
<head>
    <title>Nautalius</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- bower:css -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
</head>
<body>
<div layout="column" ng-cloak ng-app="Nautalius" ng-controller="AppCtrl">
    <section layout="row" flex>

        <md-sidenav style="height: 100vh" class="md-sidenav-left" md-component-id="left"
                    md-is-locked-open="$mdMedia('gt-sm')" md-disable-backdrop md-whiteframe="2">
            <md-toolbar>
                <h1 class="md-toolbar-tools">Nautalius</h1>
            </md-toolbar>
            <md-content>
                <ntls-tree-view show-files="true" root-entry="rootEntry"></ntls-tree-view>
            </md-content>
        </md-sidenav>

        <md-content flex>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <md-button class="md-icon-button" ng-click="toggleSidebarLeft()" hide-gt-sm>
                        <md-icon>menu</md-icon>
                    </md-button>
                    <h2>
                        <span>Path</span>
                    </h2>
                    <span flex=""></span>
                    <md-button class="md-icon-button" ng-click="toggleSidebarRight()">
                        <md-icon>create_new_folder</md-icon>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="toggleSidebarRight()">
                        <md-icon>note_add</md-icon>
                    </md-button>
                </div>
            </md-toolbar>
        </md-content>


        <md-sidenav class="md-sidenav-right" md-component-id="right" md-whiteframe="4">

            <md-toolbar>
                <h1 class="md-toolbar-tools"></h1>
            </md-toolbar>
            <md-content>
                <form>
                    <md-input-container>
                        <label for="testInput">Test input</label>
                        <input type="text" id="testInput" ng-model="data" md-autofocus="">
                    </md-input-container>
                </form>
                <md-button ng-click="toggleSidebarRight()" class="md-primary">
                    Close Sidenav Rightx
                </md-button>
            </md-content>

        </md-sidenav>
    </section>
</div>
<!-- bower:js -->
<!-- endinject -->
<!-- inject:js -->
<!-- endinject -->
</body>
</html>