<!DOCTYPE html>
<html>
<head>
    <title>Nautalius</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- bower:css -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
</head>
<body>
<div layout="column" ng-cloak ng-app="Nautalius" ng-controller="AppCtrl">
    <section layout="row" flex>
        <md-content class="main-content">
            <md-toolbar>
                <h1 class="md-toolbar-tools">Nautalius</h1>
            </md-toolbar>
            <md-content layout="column" layout-padding="">
                <div class="controls">
                    <md-checkbox ng-model="showFiles">
                        Show files
                    </md-checkbox>
                    <br>
                    <md-button ng-click="showAddFileForm()">Add file</md-button>
                    <md-button ng-click="showAddDirectoryForm()">Add directory</md-button>
                </div>
                <div ng-show="isInAddingMode">
                    <form name="entryForm" ng-submit="addNewEntry()">
                        <md-input-container>
                            <label>Entry name</label>
                            <input name="entryName" ng-model="newEntry.name" required>
                        </md-input-container>
                        <md-input-container>
                            <label>Parent directory</label>
                            <input ng-disabled="true" ng-model="newEntry.parent.name">
                        </md-input-container>
                        <br>
                        <md-input-container>
                            <md-button class="" ng-click="cancelAddingEntry()">Cancel</md-button>
                            <md-button class="md-primary md-raised" type="submit">Add</md-button>
                        </md-input-container>
                    </form>
                </div>
                <ntls-tree-view show-files="showFiles" root-entry="rootEntry"></ntls-tree-view>
            </md-content>
        </md-content>
    </section>
</div>
<!-- bower:js -->
<!-- endinject -->
<!-- inject:js -->
<!-- endinject -->
</body>
</html>